	
	body {
		background-color: #DBD1C1;
		text-rendering: optimizeLegibility;
		position: relative;
		
	}
	.resgrid {
		display: grid;
		grid: 1fr 1fr 1fr 1fr / auto; 

	.subgrid {
		grid-area: auto;
		display: grid;
		grid: auto / 1fr 1fr 1fr 1fr;
		
	h1 {
		grid-area: auto / span 3;
	}
	h2 {
		grid-area: auto / span 2;
	}
	h3 {
		grid-area: auto / span 1;
	}
}
}
	: root {
		--columns: 4;
		--gutter: 20px;
		--column-width: calc((100% / var(--columns)) - var(--gutter));
	}
	
	a { color: black; }
	a:hover { color: black; }
	a:active { color: black; }
	a:visited { color: black; }
	
