	
	body {
		background-color: #DBD1C1;
		text-rendering: optimizeLegibility;
		position: relative;
		
	}
	.resgrid {
		display: grid;
		grid: 1fr 1fr 1fr 1fr / auto; 
		background-color: #fff;
    		color: #444;
		grid-gap: 10px;
		font-family:  Trebuchet MS, Verdana, sans-serif;
}
	.subgrid {
		grid-area: auto;
		background-color: #aaa333;
		color: #333fff;
		display: grid;
		grid: auto / 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
}		
	h1 {
		grid-area: auto / span 3;
		font-size: 5vw;
	}
	h2 {
		grid-area: auto / span 1;
		text-align: right;
		font-size: 2vw;
	}
	h3 {
		grid-area: auto / span 1;
		font-size: 2vw;
	}
	summary {
		grid-area: auto / span 4;
		font-size: 2vw;
	}
	obox {
		font-size: 2vw;
		display: flex;
		grid-area: auto / span 4;
	}
	
	ibox {
		font-size: 2vw;
	}
	
	: root {
		--columns: 4;
		--gutter: 20px;
		--column-width: calc((100% / var(--columns)) - var(--gutter));
	}
	
	a { color: black; }
	a:hover { color: grey; }
	a:active { color: black; }
	a:visited { color: black; }
	
